        
        <div class="match">
            <div class="date">{{Date}}</div>
            <div class="details">

                <div class="left team-{{Equipe A}}">
                    <a href="tables_joueurs/table_joueurs_{{Equipe A}}.html"><div class="img"></div></a>
                    <p>{{Equipe A}}</p>
                </div>

                <div class="middle">
                    <div class="score">{{Score A}} - {{Score B}}</div>
                </div>

                <div class="right team-{{Equipe B}}">
                    <a href="tables_joueurs/table_joueurs_{{Equipe B}}.html"><div class="img"></div></a>
                    <p>{{Equipe B}}</p>
                    
                </div>
            </div>
            <div class="autres">
                <p>{{Stade}}</p>
                <p>{{Affluence}} spectateurs</p>
            </div>
        </div>

